.list-card {
	height: 260px;
	flex-direction: row;
	background-color: #303030;
	margin: 3px 0;
}
.list-card img {
	max-height: 200px;
	width: 100%;
	object-fit: cover;
}
.list-card-title {
	font-size: 20px;
	display: block;
	margin: 3px 0;
	overflow: scroll;
	height: 25px;
}
.list-card-author {
	font-size: 10px;
	display: block;
	margin: 3px 0;
}
