.game-card {
	flex-direction: column;

	max-width: 300px;
	color: white;
}

@media (hover: hover) {
	.game-card:hover {
		text-decoration: none;
		cursor: pointer;
		filter: brightness(1.2);
	}
}

.game-card img {
	display: block;
	margin: 3px 0;
}

.game-card-title {
	display: block;
	margin: 3px 0;
	font-size: 1.3rem;
}

.game-card-dev {
	display: block;
	margin: 3px 0;
}