.create-list {
	display: grid;
	max-width: 900px;
	margin: 0 auto;
	padding: 10px;
}

.create-list textarea {
	resize: none;
	font-family: sans-serif;
	font-size: 1rem;
}

.create-list input {
	margin: 0;
}

.create-list form input {
	margin: 0;
	font-size: 1rem;
	padding: 9px;
}

.create-list-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat((autofill, 180px));
}
