.game-card {
	margin: 0;
	padding: 0;
	max-width: 1fr;
	height: 220px;
	color: white;
	background-color: #303030;
}

@media (hover: hover) {
	.game-card:hover {
		text-decoration: none;
		cursor: pointer;
		filter: brightness(1.2);
	}
}

.game-card img {
	display: block;
	height: 180px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.game-card-title {
	display: block;
	margin: 3px;
	font-size: 0.7rem;
	overflow: scroll;
}

.game-card-dev {
	display: block;
	margin: 3px;
	font-size: 0.5rem;
}
