.game-card {
	display: grid;
	grid-template-rows: auto 2fr !important;
	color: white;
	background-color: #303030;
	align-items: center;
}

.game-card-title {
	display: inline-block;
	font-size: 0.7rem;
	padding: 2.5px 5px;
	margin: 0;
	grid-row: 2;
	background-color: #303030;
}

.game-card img {
	display: block;
	grid-row: 1;
	overflow: hidden;
	height: 140px;
	width: 100%;
	object-fit: cover;
}

@media (min-width: 600px) {
	.game-card {
		grid-template-rows: 260px 1fr 1fr;
	}
	.game-card-title {
		display: block;
		font-size: 1.2rem;
		padding: 2.5px 5px;
		margin: 0;
		grid-row: 2;
		background-color: #303030;
	}
}

@media (hover: hover) {
	.game-card:hover {
		text-decoration: none;
		cursor: pointer;
		filter: brightness(1.2);
	}
}
