.App {
	height: 100%;
	color: white;
	font-family: sans-serif;
}

button,
input[type='button'],
input[type='submit'] {
	padding: 10px 20px;
	background-color: blueviolet;
	color: white;
	box-shadow: none;
	border: none;
	font-size: 17px;
	cursor: pointer;
	margin: 3px;
}

button.err,
input[type='button'].err,
input[type='submit'].err {
	background-color: crimson;
}

button:active,
input[type='button']:active,
input[type='submit']:active {
	/* transform taken from w3schools */
	transform: translateY(2px);
	filter: brightness(0.8);
}

button:focus,
input[type='button']:focus,
input[type='submit']:focus {
	outline: 0;
}

@media (hover: hover) {
	button:hover,
	input[type='button']:hover,
	input[type='submit']:hover {
		filter: brightness(1.1);
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.center-v {
	display: flex;
	justify-content: center;
	width: 100%;
}

.center-h {
	justify-content: center;
}

.container {
	display: flex;
	background-color: #2a3039;
	margin: 10px;
	padding: 10px;
}

.err-text {
	color: crimson;
	margin: 0;
	padding: 0;
}

.form-stack input,
label {
	display: block;
	width: 200px;
	margin: 3px;
}

form h1 {
	margin: 0;
	padding: 0;
}

input {
	padding: 10px;
	margin: 3px;
}

input.err {
	border: 2px solid crimson;
}

input:focus,
textarea:focus {
	outline: none;
}

.custom {
	width: 400px;
	padding: 30px 10px;
}
